!!!
/[if IE 9]
  <html class="lt-ie10" lang="en" >
%html.no-js{"data-useragent" => "Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)", :lang => "en"}
  %head
    %link{:href => "stylesheets/application.css", :rel => "stylesheet"}
    %script{src:'http://fb.me/react-0.12.2.js'}
    %script{src:'http://fb.me/JSXTransformer-0.12.2.js'}
    %script{src:'https://code.jquery.com/jquery-2.1.4.min.js'}
    %script{src:'scripts/app.js'}
  %body
    %script{:src => "scripts/application.js", :type => "text/javascript"}